# Leaguepedia username (without "@bot_name" )
LEAGUEPEDIA_USERNAME=

# Bot password
# Required format: @<bot_name><password>
LEAGUEPEDIA_BOT_PASSWORD=

# Base path when running behind reverse proxy (e.g. /api)
API_ROOT_PATH=